---
layout: default
section: programa
title: esLibre 2019 - Juan Julián Merelo - Cosas que molan en lenguajes de programación modernos
---

<h1 class="mt-3 mb-3">Track 1: Dev + Web (10:15 - 11:00)</h1>

<div class="speaker-header">
  <div class="speaker-photo">
    <img class="speaker-img" src="{{ "/2019/assets/imgs/speakers/merelo_juan_julian.jpg" | prepend: site.baseurl }}">
  </div>
  <div class="flex-column">
    <h2 class="speaker-name mt-3 mb-3">Juan Julián Merelo: "Cosas que molan en lenguajes de programación modernos"</h2>
    <hr class="undertitle">
  </div>
</div>

<div class="speaker-text">
  Los lenguajes de la última década, y las versiones de lenguajes anteriores liberadas en esta época, tienen una serie de características que añaden abstracciones interesantes para trabajar con facilidad en arquitecturas de software modernas. Algunas
  han escapado de pequeños nichos, otras han ido surgiendo como solución a nuevas necesidades.<br><br>
  En esta charla hablaremos de todas estas características, y revelaremos un lenguaje de programación que las incluye todas ellas, y que por tanto puede ser ideal tanto para aprender como para implementar sistemas de todo tipo fácilmente.
</div>

<div class="speaker-text">
  <h3>Descripción</h3>
  En la charla presentaremos 10 características (o más, ya veremos de aquí a entonces) de los lenguajes modernos con pequeños ejemplos escritos en esos mismos lenguajes, que van desde <a href="https://www.scala-lang.org/" target="_blank">Scala</a>
  hasta <a href="https://fsharp.org/" target="_blank">F#</a>, pasando por <a href="https://clojure.org/" target="_blank">Clojure</a>. La importancia de tales
  características, desde <a href="https://unicode.org/" target="_blank">Unicode</a> hasta <i>multiple schedule</i> en rutinas y métodos, se irá explicando sobre la marcha.<br><br>
  Finalmente, se verán ejemplo(s) en ese lenguaje de programación misterioso que ha sido creado con la idea de implementar todo lo que mola.
</div>

<div class="speaker-text">
  <h3>Público objetivo</h3>
  Gente con conocimientos básicos de programación, y frikis de la programación en general.
</div>

<div class="speaker-text">
  <h3>Ponente(s)</h3>
  <strong>Juan Julián Merelo</strong>, profesor en la <a href="https://www.ugr.es/" target="_blank">Universidad de Granada</a>. Ha impartido antes una charla similar en <a
    href="https://www.opensouthcode.org/conferences/opensouthcode2019/program/proposals/172" target="_blank">OpenSouthCode</a>.<br><br>
  <a href="https://github.com/jj" target="_blank"><img src="{{ "/2019/assets/icons/github-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://gitlab.com/JJ5" target="_blank"><img src="{{ "/2019/assets/icons/gitlab-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://twitter.com/jjmerelo" target="_blank"><img src="{{ "/2019/assets/icons/twitter-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://www.linkedin.com/in/juan-j-merelo-0815/" target="_blank"><img src="{{ "/2019/assets/icons/linkedin-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
</div>
