---
layout: default
section: programa
title: esLibre 2019 - Alvaro del Castillo - Taller práctico de Big Data
---

<h1 class="mt-3 mb-3">Track 3: Big Data, Machine Learning and Cloud (15:00 - 16:00)</h1>

<div class="speaker-header">
  <div class="speaker-photo">
    <img class="speaker-img" src="{{ "/2019/assets/imgs/speakers/del_castillo_alvaro.jpg" | prepend: site.baseurl }}">
  </div>
  <div class="flex-column">
    <h2 class="speaker-name mt-3 mb-3">Alvaro del Castillo: "Taller práctico de Big Data"</h2>
    <hr class="undertitle">
  </div>
</div>

<div class="speaker-text">
  El objetivo del taller es introducir los conceptos básicos de <a href="https://es.wikipedia.org/wiki/Macrodatos" target="_blank">Big Data</a> de una forma práctica utilizando <a href="https://spark.apache.org/" target="_blank">Apache Spark</a>. El
  foco será marcar que diferencias introduce Big Data con respecto al procesamiento tradicional de los datos: procesamiento
  distribuido basado en el particionamiento de los datos.
</div>

<div class="speaker-text">
  <h3>Descripción</h3>
  Partiendo de los conceptos de datos, información, conocimiento y sabiduría (<a href="https://es.wikipedia.org/wiki/Jerarqu%C3%ADa_del_conocimiento" target="_blank">pirámide DIKW</a>), iremos contextualizando el procesamiento de datos en general y
  veremos lo que hace que Big Data sea diferentes. Pasaremos por las <a href="https://en.wikipedia.org/wiki/Lambda_architecture">arquitecturas Lambda</a> y
  Kappa a nivel general y, una vez asentados los conceptos clave, comenzaremos con la parte práctica.<br><br>
  En ella se mostrará como implementar con Apache Spark el procesamiento de los datos de <a href="https://www.gharchive.org/" target="_blank">GitHub Archive</a>. Se mostrará como hacer la persistencia de los datos con un sistema distribuido como <a
    href="https://www.elastic.co/es/" target="_blank">ElasticSearch</a> y, se realizará alguna visualización.<br><br>
  En función del tiempo, se dará alguna pincelada de las partes de Streaming, Graphs and Machine Learning que ofrece Spark.
</div>

<div class="speaker-text">
  <h3>Público objetivo</h3>
  La charla va dirigida a desarrolladores que quieran introducirse en el campo de Big Data.
</div>

<div class="speaker-text">
  <h3>Ponente(s)</h3>
  <strong>Álvaro del Castillo San Félix</strong>, Software Architect at <a href="https://www.paradigmadigital.com/" target="_blank">Paradigma Digital</a>.<br><br>
  <a href="https://github.com/acs" target="_blank"><img src="{{ "/2019/assets/icons/github-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://gitlab.com/acs1" target="_blank"><img src="{{ "/2019/assets/icons/gitlab-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://twitter.com/acstw" target="_blank"><img src="{{ "/2019/assets/icons/twitter-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://www.linkedin.com/in/acslinkedin/" target="_blank"><img src="{{ "/2019/assets/icons/linkedin-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
</div>
