---
layout: default
section: programa
title: esLibre 2019 - J. Félix Ontañón - AndaluGeeks - Comunidâh OpenSource pa la difuçión del Andalûh
---

<h1 class="mt-3 mb-3">Track 2: Social (10:15 - 11:00)</h1>

<div class="speaker-header">
  <div class="speaker-photo">
    <img class="speaker-img" src="{{ "/2019/assets/imgs/speakers/ontanon_j_felix.jpg" | prepend: site.baseurl }}">
  </div>
  <div class="flex-column">
    <h2 class="speaker-name mt-3 mb-3">J. Félix Ontañón: "AndaluGeeks - Comunidâh OpenSource pa la difuçión del Andalûh"</h2>
    <hr class="undertitle">
  </div>
</div>

<div class="speaker-text">
  Somos un grupo de profesionales de las TIC que creamos, desarrollamos y gestionamos proyectos tecnológicos de código libre alrededor de la lengua, la educación y la difusión de la cultura y la lengua andaluza.<br><br>
  <a href="https://andaluh.es/" target="_blank">https://andaluh.es</a>
</div>

<div class="speaker-text">
  <h3>Descripción</h3>
  Tomando como referencia la propuesta ortográfica para el <a href="https://andaluhepa.wordpress.com/" target="_blank">Andaluz EPA</a>, desde <a href="https://andaluh.es" target="_blank">AndaluGeeks</a> estamos preparando toda una serie
  de herramientas para conseguir la ubicuidad del Andaluz escrito en todo el espacio digital.<br><br>
  Asómate a nuestra charla y conoce nuestro transcriptor castellano-andaluz y su app para <a href="https://play.google.com/store/apps/details?id=es.andaluh.transcriptor" target="_blank">Android</a>, plugin de <a href="https://www.facebook.com/andalugeeks/videos/579706062544106/"
    target="_blank">Chrome</a>, bot de <a href="https://t.me/andalubot" target="_blank">Telegram</a> y <a href="https://github.com/andalugeeks/andaluh-slack" target="_blank">Slack</a>, escritorio GNU/Linux en Andaluz, subtítulos para películas y series, y otros
  proyectos.<br><br>
  <a href="https://andaluh.es/transcriptor" target="_blank">https://andaluh.es/transcriptor</a>
</div>

<div class="speaker-text">
  <h3>Público objetivo</h3>
  Desarrolladores de software libre y/o cualquier persona interesada en la lingüística en general. AndaluGeeks es un grupo de profesionales de las TIC de caracter voluntario y ¡nos faltan manos!<br><br>
  <a href="https://github.com/andalugeeks" target="_blank">https://github.com/andalugeeks</a>
</div>

<div class="speaker-text">
  <h3>Ponente(s)</h3>
  <strong><a href="http://fontanon.org/" target="_blank">J. Félix Ontañón</a></strong>, Director de Innovación en <a href="https://podm2m.com/es/" target="_blank">PodM2M</a> y miembro fundador de <a href="https://openkratio.org/"
    target="_blank">OpenKratio</a>, <a href="https://www.thethingsnetwork.org/community/sevilla/" target="_blank">The Things Network Sevilla</a>, <a href="https://sevillamakers.com/" target="_blank">Sevilla Maker Society</a> y <a
    href="https://andaluh.es/" target="_blank">AndaluGeeks</a>. Obrero del #opensource #opendata #ogov #IoT.<br><br>
  <a href="https://github.com/fontanon" target="_blank"><img src="{{ "/2019/assets/icons/github-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://twitter.com/fontanon" target="_blank"><img src="{{ "/2019/assets/icons/twitter-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://www.linkedin.com/in/fontanon/" target="_blank"><img src="{{ "/2019/assets/icons/linkedin-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
</div>
